/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * courier-prime:
 *   - http://typekit.com/eulas/00000000000000007735a2de
 *   - http://typekit.com/eulas/00000000000000007735a2d0
 *   - http://typekit.com/eulas/00000000000000007735a2d4
 *   - http://typekit.com/eulas/00000000000000007735a2dc
 * gastromond:
 *   - http://typekit.com/eulas/00000000000000007735ae01
 *   - http://typekit.com/eulas/00000000000000007735ae06
 * kinescope:
 *   - http://typekit.com/eulas/00000000000000007735a6ab
 * lores-15-bold-alt-oakland:
 *   - http://typekit.com/eulas/00000000000000007735bf73
 * mr-eaves-modern:
 *   - http://typekit.com/eulas/00000000000000007735b33f
 *   - http://typekit.com/eulas/00000000000000007735b348
 * ocr-a-std:
 *   - http://typekit.com/eulas/000000000000000000012e5c
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2023-03-27 17:02:14 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=llo2eru&ht=tk&f=13375.18502.18503.18504.18505.25627.28320.28400.28405.34268.34269&a=22696215&app=typekit&e=css");

@font-face {
font-family:"ocr-a-std";
src:url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3315df/000000000000000000012e5c/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"courier-prime";
src:url("https://use.typekit.net/af/b91d5a/00000000000000007735a2de/30/l?subset_id=2&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/b91d5a/00000000000000007735a2de/30/d?subset_id=2&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/b91d5a/00000000000000007735a2de/30/a?subset_id=2&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"courier-prime";
src:url("https://use.typekit.net/af/58bd4f/00000000000000007735a2d0/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/58bd4f/00000000000000007735a2d0/30/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/58bd4f/00000000000000007735a2d0/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"courier-prime";
src:url("https://use.typekit.net/af/2b7e81/00000000000000007735a2d4/30/l?subset_id=2&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/2b7e81/00000000000000007735a2d4/30/d?subset_id=2&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/2b7e81/00000000000000007735a2d4/30/a?subset_id=2&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"courier-prime";
src:url("https://use.typekit.net/af/46d4f1/00000000000000007735a2dc/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/46d4f1/00000000000000007735a2dc/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/46d4f1/00000000000000007735a2dc/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"kinescope";
src:url("https://use.typekit.net/af/43632d/00000000000000007735a6ab/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/43632d/00000000000000007735a6ab/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/43632d/00000000000000007735a6ab/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"lores-15-bold-alt-oakland";
src:url("https://use.typekit.net/af/c4ab50/00000000000000007735bf73/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/c4ab50/00000000000000007735bf73/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/c4ab50/00000000000000007735bf73/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"mr-eaves-modern";
src:url("https://use.typekit.net/af/5a0a8b/00000000000000007735b33f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/5a0a8b/00000000000000007735b33f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/5a0a8b/00000000000000007735b33f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"mr-eaves-modern";
src:url("https://use.typekit.net/af/555361/00000000000000007735b348/30/l?subset_id=2&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/555361/00000000000000007735b348/30/d?subset_id=2&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/555361/00000000000000007735b348/30/a?subset_id=2&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"gastromond";
src:url("https://use.typekit.net/af/3eba23/00000000000000007735ae01/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/3eba23/00000000000000007735ae01/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/3eba23/00000000000000007735ae01/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"gastromond";
src:url("https://use.typekit.net/af/b19349/00000000000000007735ae06/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/b19349/00000000000000007735ae06/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/b19349/00000000000000007735ae06/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

.tk-ocr-a-std { font-family: "ocr-a-std",monospace; }
.tk-courier-prime { font-family: "courier-prime",monospace; }
.tk-kinescope { font-family: "kinescope",sans-serif; }
.tk-lores-15-bold-alt-oakland { font-family: "lores-15-bold-alt-oakland",sans-serif; }
.tk-mr-eaves-modern { font-family: "mr-eaves-modern",sans-serif; }
.tk-gastromond { font-family: "gastromond",sans-serif; }
